.container{
    margin: 0 auto;
    width: 80%;
}

.mediaContainer{
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.mediaContainer2{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.mediaContainer2 video
{
    width: 100%;
    height: 800%;
}