:root {
  --gridMaxWidth: 20rem;
  --gridWidth: 90%;
}

.header{
  background: red;
}
body{

  font-family: 'Roboto', sans-serif;
  background: #222222;
  box-sizing: inherit;
  height: 100%;
  min-height: 50vh;
  flex-direction: column;
}

.header{
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
}

.logoImg{
  width: 15%;
  margin-left: 20%;
}

.form{
  display: flex;
  align-items: center;
  justify-content: center;
}

.formGrid {

  margin-left: auto;
  margin-right: auto;
  max-width: var(--gridMaxWidth);
  width: var(--gridWidth);
  height: 280px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);  
  background : #ffffff;
}

.formAction{
  margin: 15px;
  display: flex;
  justify-content: center;
}

.formAction .usernameInput{
  margin-top: 25px;
}
.formAction input{
  outline: 0;
  background: #f2f2f2;
  width: 90%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.formAction .formSubmit{
  background: rgb(178, 44, 42);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.formAction .formSubmit:hover{
  opacity: 0.9;
}

.errorContainer{
  margin-top: -10px;
  width: 100%;
  display: flex;
  justify-content: center;
  user-select: none;
}

.errorMessage{
  font-size: 10px;
}


@media screen and (max-width: 800px){
  .logoImg{
    width: 40%;
    margin-left: 30%;
  }
}