body{
    background: #222222;
    font-family: 'Roboto', sans-serif;
}

.header{
    width: 98%;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    background :rgb(197, 26, 27);
}

.pageTitle{
    color: #ffffff;
    font-size: 3rem;
    display: flex;
    align-items: center;
}
  
  .logoImg{
      transform: scale(0.6);
      margin-left: -90px;
  }

.video-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.video-js{
    background : white;
    width: 19%;
    padding-top: 15%;
    overflow: hidden;
}

#imageVideo{
    width: 100%;
    cursor: pointer;
}

.videoLink{
    width: 15%;
    margin: 10px;
}


@media screen and (max-width: 800px){
    .logoImg{
        width: 20%;
        height: 100%;
        margin-left: 0px;
    }

    .videoLink{
        width: 25%;
        margin: 5px;
    }
    
    .pageTitle{
        font-size: 0.9rem;
    }
}