body{
    background: #222222;
    font-family: 'Roboto', sans-serif;
}

/******

HEADER PART

*******/

.header{
    width: 100%;
    margin-bottom: 100px;
    background :rgb(197, 26, 27);
    display: flex;
    justify-content: center;
}

.headerContainer{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.pageTitle{
    color: #ffffff;
    font-size: 2rem;
    display: flex;
    align-items: center;
}
  
.logoImg{
    width: 10%;
}

.easyCash{
    margin-top: 10px;
    height: 70%;
}

.video-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.video-js{
    background : white;
    width: 19%;
    padding-top: 15%;
    overflow: hidden;
}

#imageVideo{
    width: 100%;
    cursor: pointer;
}

.videoLink{
    width: 15%;
    margin: 10px;
}


@media screen and (max-width: 800px){
    .logoImg{
        width: 20%;
        height: 100%;
    }

    .videoLink{
        width: 25%;
        margin: 5px;
    }
    
    .pageTitle{
        font-size: 0.9rem;
    }
    
    .easyCash{
        margin-top: 0px;
    }
}